:root{
    --color1: #6F4E37;
    --color2: #A67B5B;
    --color3: #FED8B1;
}
*{
    box-sizing: border-box;
    font-family: tahoma;
}
body{
  background-color: (var(--color1));
}
h1{
  position: absolute;
  left: 46%;
  color: white;
}
.check-part{
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 40%;
  left: 35%;
  width: 40vw;
  border-radius: 10px;
  height: 25vh;
  background-color: (var(--color2));
  justify-content: center;
  align-items: center;
}
input{
  width: 60%;
  margin: 5px;
}
input, button{
  background: (var(--color3));
}
button:hover{
  background: (var(--color1));
  color: white;
}
.hide{
  display: none;
}
span{
  font-weight: bold;
  display: inline;
}
p{
  display:inline;
}
